.dashboard-content.container-fluid(ng-init="modal.init()")
	.row-fluid
		.col-md-1
		.col-md-10
			h5 SSH keys
			table.table.table-striped.table-bordered.table-condensed
				thead
					tr
						th(width="30%") Name
						th(width="65%") Key
						th(width="5%")
				tbody(ng-show="settings.ssh.keys.length")
					tr(ng-repeat="key in settings.ssh.keys")
						td {{key.name}}
						td {{key.value | dots: 38 }}
						td
							span.text-danger.glyphicon.glyphicon-remove(ng-click="modal.removeSshKey(key.value)")
			button.btn.btn-mini.btn-success.clearfix(ng-click="modal.addkeyForm()") Add new key
			.add-new-ssh-key(ng-show="sshKey")
				.alert.alert-warning(role="alert", ng-show="sshKeyFormError") {{sshKeyFormError}}
				form.form-signin(name="addSshKeyForm", novalidate="")
					.control-group
						input.form-control(type="text", placeholder="Name", name="name", ng-model="sshKey.name", required)
					.control-group
						br
						textarea.form-control(placeholder="Key", name="key", ng-model="sshKey.value", required)
					.control-group
						br
						.btn-group
							input.btn.btn-sm.btn-warning(type="reset", ng-click="modal.cancelAddKey()", value="Cancel")
							input.btn.btn-sm.btn-success(type="submit", ng-click="modal.addSshKey(addSshKeyForm.$valid)", value="Done")
			button.btn.btn-mini.btn-default.clearfix.pull-right(ng-click="modal.close()") Close
		.col-md-1

