.dashboard-content.container-fluid(ng-init="modal.init()")
    .row-fluid
        .col-md-1
        .col-md-10
            h5 My Apps
            table.table.table-striped.table-bordered.table-condensed
                thead
                    tr
                        th(width="35%") Name
                        th(width="20%") Stack
                        th(width="45%") Description
                tbody(ng-show="apps.length")
                    tr(ng-repeat="app in apps")
                        td {{app.name | dots: 23 }}
                        td {{app.type}}
                        td {{app.description | dots: 30 }}
            p.no-items.no-user-apps(ng-show="!apps.length") No Applications Created Yet
        .col-md-1