// main stylesheet
.col-centered{
	float: none;
	margin: 0 auto;
}

.nodec {
  text-decoration: none !important;
}

input, textarea {
  &.ng-invalid:not(.ng-untouched) {
    border-color: #FF0000 !important;
  }
}

.valign-middle {
  vertical-align: middle !important;
}

.td-input {
  font-size: 13px;
  height: 30px;
}

.git-url-field {
  border: 1px dashed #CCCCCC;
}
.modal-content{
  padding: 24px 0;
}
.left{
  float: left;
}
.right{
  float: right;
}
.white{
  color: #ffffff;
}
.mt25{
  margin-top: 25px !important;
}