extends ./layout

block body
	.hiCloud(ng-app='hiCloud', ng-controller='MainCtrl as main', ng-init="main.init()")
		.main(ui-view)
			h1 Response from sails api (using socket request)
			h3 {{sails | json}}