#!/bin/bash

PATHARR=(${PWD//\// })
UNAME="${PATHARR[${#PATHARR[@]}-2]}"
GITNAME="${PATHARR[${#PATHARR[@]}-1]}"
REPOPATH="${UNAME}/${GITNAME}"
DEPLOYPATH=${REPOPATH//\.git/}

cd "__DEPLOY_DIR__/${DEPLOYPATH}" && git pull

#../../../../api/bin/apps-node-restart.sh $PWD/..

exec git update-server-info