#!/bin/bash

PATHARR=(${PWD//\// })
UNAME="${PATHARR[${#PATHARR[@]}-2]}"
GITNAME="${PATHARR[${#PATHARR[@]}-1]}"
REPOPATH="${UNAME}/${GITNAME}"
DEPLOYPATH=${REPOPATH//\.git/}

unset GIT_DIR
cd "__DEPLOY_DIR__/${DEPLOYPATH}"

echo Getting data from git...
git pull origin master &> /dev/null
echo [done]

#../../../../api/bin/apps-node-restart.sh $PWD/..

exec git update-server-info