#!/bin/bash

PATHARR=(${PWD//\// })
UNAME="${PATHARR[${#PATHARR[@]}-2]}"
GITNAME="${PATHARR[${#PATHARR[@]}-1]}"
REPOPATH="${UNAME}/${GITNAME}"
DEPLOYPATH=${REPOPATH//\.git/}

unset GIT_DIR
cd "__DEPLOY_DIR__/${DEPLOYPATH}"

if [ -f hi ]; then
    MAINFILE=`cat hi`
    forever stop "$MAINFILE"
fi

echo Getting data from git...
git pull origin master &> /dev/null
echo [done]

echo Installing Node.js dependencies...
npm install

if [ "$MAINFILE" == "" ]; then
    echo "Please create 'hi' file and add main .js filename into it..."
else
    export PORT=$((`id -u` + 1000)) && forever start "$MAINFILE"
fi

#__API_DIR__/bin/apps-node-restart.sh $PWD/..

exec git update-server-info