var rootDir = process.cwd();

module.exports.api = {
    binPath: rootDir + '/api/bin', // without trailing slash
    newAppDir: '/var/HiCloudRepos', // without trailing slash
    deployDir: '/var/HiCloudWebRoot', // without trailing slash
    appTypes: ['node']
};
